body {
    padding: 0 10%;
}

#main-header{
    position: relative;
}

#logo-div{
    background-image: url('/images/spirit_breaker.png');
    width: 100px;
    height: 135px; 
}

#tag-line{
    font-size: 1.3em;
    right: 0;
    top: 25%;
    position: absolute;
    width: 425px;
    text-align: right;
}

#nav-header {
    margin-top: 2%;
    text-align: left;
}

.main-nav {
    background: #e7e7e7;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav > ul  > li {
    padding: 10px 25px;
    display: inline-block;
}

.main-nav > ul  > li.active {
    background: rgba(196, 196, 196, 0.3);
}

.main-nav > ul > li > a:hover {
    background: #e7e7e7;
}

#featured-section{
    width: 60%;
    text-align: justify;
    padding-right: 50px;
    margin-bottom: 25px;
}

#featured-section:after {
    content:"";
    clear:both;
    display:block;
}

#aside-list{
    width: 35%;
    float: right;
}

#aside-list header {
    font-size: 1.2em;
}

#aside-list p {
    text-align: justify;
}

#aside-list article {
    font-size: 1em;
    padding: 1%;    
    margin-bottom: 25px;
}

#aside-list header, .latest-news header, #about-section > article header {
    font-weight: bold;

}

.latest-news header {
    font-size: 1.3em;
    margin-bottom: 15px;
}

#about-section > article {
    display: inline-block;
    width: 49%;
    text-align: justify;
}

#about-section > article header {
    font-size: 1.3em;
    margin-bottom: 10px;
}

#main-footer {
    margin-top: 25px;
}

#nav-footer {
    font-size: 0.9em;
    padding: 1px;
    background: rgb(219, 219, 219);
    border-radius: 5px;
}

#nav-footer > ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

#nav-footer > ul > li {
    display: inline-block;
    padding: 0 25px;
}

#copyright {
    text-align: center;
    padding: 15px 0 10px 0;
    opacity: 0.7;
}

@media screen and (max-width: 729px) {

    #main-header {
        text-align: right;
    }

    #tag-line {
        position: initial;
        font-size: 1em;
        font-weight: bold;
    }

    #aside-list {
        float: none;
        width: 100%;
        display: inline-flex;
    }

    #featured-section{
        width: 100%;
    }

    #about-section > article {
        display: initials;
        width: 100%;
    }
}


@media screen and (max-width: 480px) {
    body {
        padding: 0 2%;
    }

    #main-header {
        text-align: center;
    }

    #tag-line {
        position: initial;
        font-size: 1em;
        font-weight: bold;
    }

    #aside-list {
        display: none;
    }

    #featured-section {
        width: 100%;
        padding: 0 5px;
    }

    #about-section > article {
        display: block;
        width: 100%;
    }

    #nav-footer {
        display: none;
    }
}