body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding: 0 10%;
}

#main-header{
    position: relative;
}

#logo-div{
    background-image: url('/images/spirit_breaker.png');
    width: 100px;
    height: 135px; 
}

#tag-line{
    font-size: 1.3em;
    right: 0;
    top: 25%;
    position: absolute;
    width: 425px;
    text-align: right;
}

#nav-header{
    margin-top: 2%;
}

/*Change made to the class inherit from bootstrap */
#main-header .navbar-collapse{
    padding-left: 0;
}

/*Change made to the class inherit from bootstrap */
#main-footer .navbar-collapse{
    padding-left: 0;
}

#featured-section{
    width: 60%;
    text-align: justify;
    padding-right: 50px;
    margin-bottom: 25px;
}

#featured-section:after {
    content:"";
    clear:both;
    display:block;
}

#aside-list{
    width: 35%;
    float: right;
}

#aside-list article{
    font-size: 1em;
    padding: 1%;    
    margin-bottom: 25px;
}


@media screen and (min-width: 729px) { 
  
 
}


@media screen and (min-width: 480px) { 
  
 
}